@model IEnumerable<FilmFactory.FilmsData.GenreContract>

@{
    ViewBag.Title = @Resources.Resource.Genres;
}

<h3><strong>@Html.DisplayName(@Resources.Resource.Genres)</strong></h3>

<p>
    @Html.ActionLink(@Resources.Resource.AddGenre, "Add", "Genre", null, new { @role = "button", @class = "btn btn-success active" })
</p>


    

 <hr />

 <ol>

    @foreach (var item in Model)
    {

        <li>@Html.DisplayFor(modelItem => item.GenreName)</li>
    }
 </ol>
