@model IEnumerable<FilmFactory.FilmsData.FilmContract>

@{
    ViewBag.Title = Resources.Resource.Top20;
}

<h2>@Resources.Resource.Top20</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName(Resources.Resource.Rate)
        </th>
        <th>
            @Html.DisplayName(Resources.Resource.Title)
        </th>
        <th>
            @Html.DisplayName(Resources.Resource.Year)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <th>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-info btn-sm detailsModalBtn">@Resources.Resource.Details</button>
                @Html.HiddenFor(modelItem => item.Id, new { @class = "filmId" })

            </div>
        </th>
    </tr>
}

</table>

<div id="modalPlace">

</div>

<script>
    var _urlGetFilmById = "@Url.Action("GetFilmById", "Film")";
</script>
<script src="~/Scripts/Film/film.js"></script>